.product{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.product li {
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    list-style: none;
    margin: 0 10px;
    width: 25%;
}
.link{
    text-decoration: none;
    color: aliceblue;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: auto;
}
.tenis{
    width: 100%;
    border-radius: 5px 8px 4px;
    box-shadow: 5px 8px 4px;
}
.homeproducts{
    width: 100%;
    border-radius: 10px 10px 12px;
    box-shadow: 5px 8px 4px ;
    
}

.titleProduct{
    text-align: center;
}